<div class="progress" style="margin: 4em">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{number}}" aria-valuemin="0" aria-valuemax="{{max}}" style="width: {{percent}}%">
  </div>
</div>
